html,body { margin:0; padding:0; height:100%; width:100%; overflow:visible; background-color:black;}

nav.topnav
{
	text-align:center;
	position:relative;
	background-color: #680411;
	padding: 2% 5px 10px 0px;
	overflow:hidden;
	height:5%;
}
li.regular
{
	display:inline;
	padding-right:2%;
}

li.iframeChoosers
{	
	display:inline;
}

nav ul
{
	text-align: left;
	position:absolute;
	background-color: #680411;
}

@media screen and (max-width: 600px){
	nav.topnav {height:10%;}
    nav.topnav li {display: block; padding-top: 2%;}
}

#editor{
    background-color: #45494f;
	width: 97%;
	height: 47%;
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	color: #f4df24;
	border: 1px solid black;
    display:inline-block;
	overflow : auto;
}

#cssEditor {
	float:left;
    background-color: #45494f;
	width: 97%;
	height: 47%;
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	overflow : auto;
	color: #f4df24;
	border: 1px solid black;
    display:inline-block;
}
#scriptEditor {
	float:left;
    background-color: #45494f;
	width: 97%;
	height: 47%;
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	color: #f4df24;
	border: 1px solid black;
	overflow : auto;
	display:inline-block;
}

#container1{
	float:left;
	height:89%;
	width:48%;
	white-space : nowrap; 
	overflow : auto;
	position:relative;
	display:inline-block;
}

#container2 {
	margin-left: 1%;
	margin-top:0.3%;
	height:89%;
	width:51%;
	white-space : nowrap;
	overflow : auto;
	position:absolute;
	display:inline-block;
}

#viewer {

	background-color: white;
	border: none;
	width: 97%;
	height: 97%;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	border: 1px solid;
	color: white;
	display:inline-block;
	overflow:hidden;
}


.ace_editor .ace_marker-layer .ace_bracket { display: none }
