html, body, nav
{
	height:97%;
	background-color:black;
}

.main
{
background-color: black;
height:100%;
width:100%;
display: inline-flex;
}

#editor-textarea
{
background-color: #45494f;
width: 100%;
height: 94%;
margin-left: 5px;
margin-top: 10px;
margin-right: 5px;
padding: 5px;
color: #f4df24;
border: 1px solid black;
}

textarea#story 
{

  -moz-appearance:none;
  outline:0px none transparent;
}

textarea:focus, input:focus
{
    outline: 0;
}

*:focus 
{
    outline: 0;
}

#viewer
{
background-color: white;
border: none;
width: 100%;
height: 95%;
margin-left: 5px;
margin-top: 10px;
margin-right: 5px;
border: 1px solid;
color: white;
}



.dropbtn 
{
	margin-left: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown 
{
    position: relative;
    display: inline-block;
}


.dropdown-content 
{
	margin-left:5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a 
{
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover 
{
	background-color: #919191;
	color:white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}