html,body { margin:0; padding:0; height:100%; width:100%; overflow: hidden; background-color:black;}

nav
{
	text-align:center;
	position:relative;
	background-color: #680411;
	padding: 5px;
	padding-top:2%;
	clear:left;
	overflow:auto;
	height:5%;
}
li
{
	display:inline;
	padding-right:2%;
}

#editor {
    background-color: #45494f;
	width: 50%;
	height: 100%;
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	color: #f4df24;
	border: 1px solid black;
    display:inline-block;
}

#container {
	height:100%;
	width:auto;
	white-space : nowrap; 
	overflow : hidden;
	position:relative;
}

#iframe {

	background-color: white;
	border: none;
	width: 48%;
	height: 101%;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	border: 1px solid;
	color: white;
	display:inline-block;
}


.ace_editor .ace_marker-layer .ace_bracket { display: none }
